@charset "gb2312";

/* CSS Document */
html,body{ background: url(images/yn_01.gif) top repeat-x; padding:0; margin:0; font-family:"宋体,微软雅黑"; font-size:12px; color:#383838; line-height:2;}

*{ margin:0; padding:0;}
ul{ LIST-STYLE-TYPE: none}
li{ list-style:none;}
.clear{ clear:both;}
h1{ font-size:12px; font-weight:normal;}
h2{ font-size:14px; font-weight:bold;}
img{ border:none;}
a{ color:#444; text-decoration:none;}
a:hover{ color:#449c1f;TEXT-DECORATION: none}



/* head */
.head{ width:997px; margin:0 auto;}
	.logo{ width:241px; height:93px; background:url(images/logo.jpg); float:left;}
	.guangGao{ width:520px; height:70px; background:url(images/guangGao.jpg); margin-top:13px; float:left;}
	.souSuo{ width:236px; height:93px; float:left;}
	.menu{ width:997px; height:70px; margin:0 auto; background:url(images/gef_04.gif); font-size:12px; color:#fff;_display: inline-block; overflow:hidden;}
		.dot1{ float:left; margin-left:15px; display:inline;}
		.dot2{ float:left; width:60px; margin-left:40px; padding-top:10px; display:inline;}
		.dot3{ float:left; width:80px; margin-left:45px; padding-top:10px; display:inline;}
		.dot4{ float:left; width:90px; margin-left:45px; padding-top:10px; display:inline;}
		.dot5{ float:left; width:105px; margin-left:27px; padding-top:10px; display:inline;}
		.dot6{ float:left; width:55px; margin-left:40px; padding-top:10px; display:inline;}
		.dot7{ float:left; width:60px; margin-left:45px; padding-top:10px; display:inline;}
		.dot8{ float:left; width:115px; margin-left:40px; padding-top:10px; display:inline;}
		.dot9{ float:left; width:80px; margin-left:30px; padding-top:10px; display:inline;}
		.menu a{ color:#fff;}
		.menu a:hover{ color:#f00;}

/* head over */




/* text */
.text{ width:997px; margin:0 auto;}
	.weiZhi{ width:982px; height:34px; line-height:34px; background:url(images/gef_06.gif) no-repeat;}
.text_left{ width:300px; float:left;}
	.qiuHui{ width:300px;}
		.qiuHui_top{ width:300px; height:29px; background:url(images/gef_07.gif);}
		.qiuHui_bottom{ width:278px; height:181px; border:1px double #dddddd; padding:0 10px;}
		.qiuHui_bottom li{ width:278px; border-bottom:1px dashed #DEDEDE; height:24px; line-height:24px; *height:22px; *line-height:22px;}
		
		
	.xieHui{ width:300px; margin-top:5px;}
		.xieHui_top{ width:300px; height:29px; background:url(images/gef_12.gif);}
		.xieHui_bottom{ width:278px; height:326px; border:1px double #dddddd; padding:0 10px;}
		.xieHui_bottom li{ width:278px; height:63px; line-height:23px; *line-height:20px;}
		
		
		
	.huiJi{ width:300px; margin-top:5px;}
		.huiJi_top{ width:300px; height:30px; background:url(images/gef_22.gif);}
		.huiJi_bottom{ width:278px; height:181px; border:1px double #dddddd; padding:0 10px;}
		.huiJi_bottom li{ width:278px; border-bottom:1px dashed #DEDEDE; height:24px; line-height:24px; *height:22px; *line-height:22px;}





.text_right{ width:686px; float:left; margin-left:10px;}
	.text_righttop{ width:686px;}
		.text_righttop_1{ width:686px; height:61px; background:url(images/gef_09.jpg);}
		.text_righttop_2{ width:686px;}
		
		
	.text_rightbottom{ width:686px;}	
		.text_rightbottom_1{ width:686px; height:48px; background:url(images/gef_18.gif);}
		.text_rightbottom_2{ width:684px; height:311px; *height:316px; border:1px double #dddddd; margin-top:0px; overflow:hidden;}
		#tt1{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt1 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt2{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt2 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt3{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt3 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt4{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt4 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt5{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt5 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt6{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt6 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt7{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt7 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt8{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt8 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}
		
		#tt9{ width:570px; height:279px; overflow:hidden; margin-top:12px;}
		#tt9 li{ width:565px; height:25px; line-height:25px; border-bottom:1px dashed #dddddd;}

	
		
		
/*选项卡*/
		body,td{font-size: 12px;}

.tab{ width:686px; height:340px; overflow:hidden;}

#TabTab03Con1{width:654px;height:340px;line-height:100px; float:left;border-bottom:#dddddd 1px solid;border-right:#dddddd 1px solid;}
#TabTab03Con1 li{ width:600px; border-bottom:1px dashed #DEDEDE; height:30px; line-height:30px; *height:27px; *line-height:27px; overflow:hidden;}
#TabTab03Con2{width:654px;height:340px;line-height:100px; float:left;border-bottom:#dddddd 1px solid;border-right:#dddddd 1px solid;}
#TabTab03Con2 li{ width:600px; border-bottom:1px dashed #DEDEDE; height:30px; line-height:30px; *height:27px; *line-height:27px; overflow:hidden;}

.xixi1{width:31px;height:341px; float:left;line-height:27px;background-image:url(images/js_1.jpg);cursor:pointer;}
.xixi2{width:31px;height:341px; float:left;line-height:27px;background-image:url(images/js_2.jpg);cursor:pointer;}

.tab1{width:31px;height:170px;line-height:27px;text-align:center;cursor:pointer;}
.tab2{width:31px;height:170px;line-height:27px;text-align:center;cursor:pointer;color:#f00;}
/* over*/

/*翻页*/



.pl {
	 BACKGROUND-COLOR: #dffddc; PADDING-LEFT: 0px; PADDING-RIGHT:160px; HEIGHT: 25px; PADDING-TOP: 5px
}
.pm {
	FLOAT: right
}
.pg {
	BORDER-BOTTOM: #87afd0 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #87afd0 1px solid; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #e6f7ff; MARGIN: 0px 0px 0px 3px; FONT-FAMILY: Tahoma; FLOAT: left; BORDER-TOP: #87afd0 1px solid; BORDER-RIGHT: #87afd0 1px solid
}
.pg A {
	MIN-WIDTH: 26px; WIDTH: 26px; DISPLAY: inline-block; WHITE-SPACE: nowrap
}
.pn {
	BORDER-BOTTOM: #99c493 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #99c493 1px solid; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #82ca7b; MARGIN: 0px 0px 0px 3px; FONT-FAMILY: Tahoma; FLOAT: left; BORDER-TOP: #99c493 1px solid; BORDER-RIGHT: #99c493 1px solid
}
.pn A {
	MIN-WIDTH: 26px; WIDTH: 26px; DISPLAY: inline-block; WHITE-SPACE: nowrap
}
/*over*/


.pl1 {
	 BACKGROUND-COLOR: #dffddc; PADDING-LEFT: 0px; PADDING-RIGHT:160px; HEIGHT: 25px; margin-bottom:5px;}
.pm1 {
	FLOAT: right
}
.pg1 {
	BORDER-BOTTOM: #87afd0 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #87afd0 1px solid; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #e6f7ff; MARGIN: 0px 0px 0px 3px; FONT-FAMILY: Tahoma; FLOAT: left; BORDER-TOP: #87afd0 1px solid; BORDER-RIGHT: #87afd0 1px solid
}
.pg1 A {
	MIN-WIDTH: 26px; WIDTH: 26px; DISPLAY: inline-block; WHITE-SPACE: nowrap
}
.pn1 {
	BORDER-BOTTOM: #99c493 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #99c493 1px solid; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #82ca7b; MARGIN: 0px 0px 0px 3px; FONT-FAMILY: Tahoma; FLOAT: left; BORDER-TOP: #99c493 1px solid; BORDER-RIGHT: #99c493 1px solid
}
.pn1 A {
	MIN-WIDTH: 26px; WIDTH: 26px; DISPLAY: inline-block; WHITE-SPACE: nowrap
}






.foot{ width:997px; margin:0 auto;}