.gallery .image-item{
	background-image:url(../img/gallery.png);
	width: 190px;
	height: 219px;
	margin-right: 7px;
}

.gallery .image-item img{
	width: 195px;
	height: 195px;
}

.gallery .image-item{
	padding: 24px 20px;
}