.image-item a{
	height: 16px;
	overflow: hidden;
	float: left;
	width:175px;
	text-overflow: ellipsis;
}

.news-item a{
	height: 16px;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
}

.lxctab .tab-pannel .article-item {
	line-height: 26px;
	font-size: 12px;
}
.lxctab .tab-hd{
	text-align:center;
}

.article-item a {
	height: 20px;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
}

.small a{
	height: 24px;
	overflow: hidden;
	float:none;
	display:block;
	text-overflow: ellipsis;
}

.large a{
	height: 20px;
	overflow: hidden;
	float: none;
	display:block;
	line-height:2;
	text-overflow: ellipsis;
}
.small .time{
	height: 23px;
}
#slide-team-home .slide-list-item {
	width: 220px;
}

#slide .slide-list-img {
	height: 272px;
	width: 270px;
}

.ft {
	text-align: center;
}

#qiuduihuodong {
	height: 178px;
}

#qiuduihuodong .article-item {
	margin: 3px 5px;
}

#renwufangwen {
	height: 252px;
}

#renwufangwen .mod-article-list {
	margin: 20px 9px;
}

#renwufangwen .mod-article-list .article-item {
	margin: 7px 5px;
}

#qiuduizhijia .image-item,#renwu .image-item {
	width: 110px;
}

#guibintongdao .mod-bd {
	height: 259px;
	overflow: hidden;
}

#guibintongdao li {
	margin: 4px 0;
	padding: 0 4px;
	zoom: 1;
}

#guibintongdao .img-full {
	height: 47px;
	width: 258px;
}

#gaoqiulvyou .image-item {
	width: 170px;
	padding-bottom: 0px;
}

#gaoqiulvyou .mod-bd {
	height: 260px;
}

#gaoqiulvyou .image-item img {
	width: 160px;
	height: 80px;
}

#gaoqiulvyou .gallery {
	border-bottom: 1px dashed #ccc;
}

#gaoqiulvyou .mod-article-list {
	padding-left: 20px;
}

#gaoqiulvyou .article-item {
	margin: 3px 13px;
	font-size: 14px;
	list-style: disc;
}

#tupianji {
	height: 117px;
	margin-bottom: 5px;
}

#tupianji .image-item {
	height: 100px;
	width: 95px;
}

#tupianji .image-item img {
	width: 102px;
	height: 64px;
}

.news-block .mod-article-list .article-item {
	line-height: 20px;
	margin: 8px 12px;
	font-size: 14px;
}

.lxctab .tab-pannel {
	height: 241px;
	overflow: hidden;
}

.lxctab .tab-hd-item {
	width: 74px;
}

.lxctab .zixun {
	width: 87px;
}

.lxctab .tab-hd-item .last {
	margin-right: 0px;
}

.lxctab .tab-pannel .article-item {
	margin: 3px 5px;
}

#lianxichang .img-ads {
	height: 114px;
}

#paiming .tab-hd-item {
	width: 140px;
}

#lianxichang .article-item {
	margin: 3px 5px
}

#qiudui  .article-item {
	margin: 2px 5px;
}

#qiudui .mod-bd {
	height: 259px;
	overflow: hidden;
}

#qiuchang {
	overflow: hidden;
}

#qiuchang .article-item {
	margin: 2px 5px 3px 5px;
}

#qiuchang .mod-bd {
	height: 180px;
}

#zhuantiqu .article-item {
	font-size: 12px;
	padding: 1px 5px;
	border-bottom: 1px dashed #ccc;
}

.table-wrap {
	margin: 8px;
}

.link-list {
	zoom: 1;
}

.link-list:after {
	clear: both;
	display: block;
	content: "";
}

.link-list {
	padding: 5px 10px;
}

.link-list:after {
	content: "";
	display: block;
	clear: both;
}

.link-list li {
	width: 185px;
	float: left;
}