.slide-list-container{
	position:relative;
}

.slide-list .slide-list-item{
	width:270px;
	height:299px;
	overflow:hidden;
	display:none;
}


.slide-list .slide-list-tit{
	text-align:left;
	padding-left:15px;
}

.slide-list-container .slide-nums{
	color:#fff;
	position:absolute;
	right:5px;
	bottom:5px;
	text-align:left;
	z-index:999;
	width:60px;
}

.slide-list-container .slide-nums li{
	background-color:#333;
	margin-right:3px;
	float:left;
	padding:0 5px;
}


.slide-list-container .slide-nums .active{
	background-color:#fff;
}

.slide-list-container .slide-nums li a{
	color:#fff;
}

.slide-list-container .slide-nums .active a{
	color:#333;
}

.slide-list .slide-nums li{
	position:absolute;
	float:left;
}


.slide-list .active{
	display:block;
}

#slide-team-home .slide-list-item{
	width:220px;
}

#slide .slide-list-img{
	height:300px;
	width:270px;
}

.ft{
	text-align: center;
}

#qiuduihuodong {
	height: 178px;
}

#qiuduihuodong .article-item{
	margin:3px 5px;
}

#renwufangwen {
	height:252px;
}

#renwufangwen .mod-article-list{
	margin:20px 9px;
}

#renwufangwen .mod-article-list .article-item{
	margin:7px 5px;
}

#qiuduizhijia .image-item,
#renwu .image-item{
	width:110px;
}


#guibintongdao .mod-bd{
	height: 347px;
}
#guibintongdao .img-full{
	margin:4px;
	height: 53px;
	width:258px;
}

#gaoqiulvyou .image-item{
	width:170px;
	padding-bottom:0px;
}

#gaoqiulvyou .mod-bd{
	height: 347px;
}
#gaoqiulvyou .image-item img{
	width:160px;
	height: 120px;
}
#gaoqiulvyou .gallery{
	border-bottom:1px dashed #ccc;
}
#gaoqiulvyou .mod-article-list{
	padding-left:20px;
}
#gaoqiulvyou .article-item{
	margin: 3px 13px;
	font-size:14px;
	list-style:disc;
}

#tupianji{height:117px;}
#tupianji .image-item{height:100px;width:68px;}
#tupianji .image-item img{width:75px;height: 69px;}

.news-block .mod-article-list .article-item{
	line-height:20px;
	margin:8px 12px;
	font-size:14px;
}

.lxctab .tab-pannel{
	height:180px;
	overflow:hidden;
}

.lxctab .tab-hd-item{
	width:74px;
}
.lxctab .tab-hd-item .last{
	margin-right:0px;
}

.lxctab .tab-pannel .article-item{
	margin:3px 5px;
}


#lianxichang .img-ads{
	height:95px;
}

#paiming .tab-hd-item{
	width:140px;
}

#lianxichang .article-item{
	margin:3px 5px
}
#qiuchang{
	overflow:hidden;
}

#qiuchang .article-item{
	margin:2px 5px 3px 5px;
}

#qiuchang .mod-bd{
	height:180px;
}
#zhuantiqu .article-item{
	font-size:14px;
	padding:1px 5px;
	border-bottom:1px dashed #ccc;
}

.table-wrap{
	margin:8px;
}

.link-list{
	padding:5px 10px;
}
.link-list:after{
	content:"";
	display:block;
	clear:both;
}
.link-list li{
	width:185px;
	float:left;
}


.side-banner{
	top:50px;
	position:fixed;
}
.side-banner img{
	margin-bottom:50px;
}
.left-banner{
	left:-15px;
}
.right-banner{
	right:-15px;
}
.left-banner .close{display:block;text-align:right;}
.right-banner .close{display:block;text-align:left;}