@charset "gb2312";

/* CSS Document */

ul{ LIST-STYLE-TYPE: none}
li{ list-style:none;}
.clear{ clear:both;}
h2{ font-size:14px; font-weight:bold;}
h3{ font-size:14px; font-weight:bold; color:#449c1f;}
img{ border:none;}
a{ color:#444; text-decoration:none;}
a:hover{ color:#449c1f;text-decoration: underline;}

/* head */
.head{ width:1000px; margin:0 auto;}
.head .logo{ width:241px; height:93px; background:url(../images/logo.jpg); float:left;}
.head .guangGao{ width:520px; height:70px; background:url(../images/guangGao.jpg); margin-top:13px; float:left;}
.head .souSuo{ width:236px; height:93px; float:left;}
	
.menu{width:1000px; height:70px; margin:0 auto;background:url(../images/gef_04.gif); font-size:12px;color:#fff;_display: inline-block; overflow:hidden; }
.menu dl dt {display:inline; float:left;}
.menu dl dd {line-height:18px; float:left; margin-left:5px;}
.menu dl dd a { display:block;line-height:18px; COLOR: #ffffff; text-decoration: none;}
.menu dl dd a:hover {line-height:18px; COLOR: #FF0; text-decoration: underline;}

.dot1{ float:left; margin:17px 0 0 10px; width:24px; height:36px;}
.dot2{display:inline; margin:17px 0 0 8px;width:105px; float:left; height:36px; overflow:hidden; padding-top:0px;}
.dot3{display:inline; margin:17px 0 0 4px;width:105px; float:left; height:36px; overflow:hidden; padding-top:0px;}
.dot4{display:inline; margin:17px 0 0 4px;width:140px; float:left; height:36px; overflow:hidden; padding-top:0px;}
			
/* head over */

.content {width:1000px;margin:0 auto;}
.content .adwords{width:1000px;height:90px;margin:0 auto;padding-top:2px}
.content .adwords{width:1000px;height:90px;margin:0 auto;padding-top:2px}
.content .adwords .left{width:300px;height:90px;margin:0 auto;float:left}
.content .adwords .center{width:400px;height:90px;margin:0 auto;float:left}

.content .topNews{width:1000px;height:300px;margin:0 auto;padding-top:2px}
.content .topNews .left{width:300px;height:300px;margin:0 auto;float:left}
.content .topNews .center{width:400px;height:300px;margin:0 auto;float:left}

.content .centerAdwords{width:1000px;height:90px;margin:0 auto;padding-top:2px}
.content .centerAdwords .left{width:500px;height:90px;margin:0 auto;float:left;}

.content .downAdwords{width:1000px;height:90px;margin:0 auto;padding-top:2px}
.content .downAdwords .left{width:200px;height:90px;margin:0 auto;float:left;}





