.news-slide{float:left;width:585px;background-image:url(http://i0.sinaimg.cn/ty/2011hqj/golf/images/sports_golf_zxh_0214_02.png);}
	.news-article{float:left;width:200px;}
	.gallery{}
	.gallery .bigpics{float:left;}
	.gallery .bigpic{display: none;position: relative;}
	.gallery .bigpic{float:left;}
	.gallery .bigpic img{width:500px;height:300px;}
	.gallery .bigpic h3{position: absolute;bottom:0;background:#000;;background-color: rgba(0,0,0,0.5);width:100%;color:#fff;padding:10px 0;text-align: center;}
	.gallery .bigpic h3 a{color:#fff;}
	.gallery .bigpics .active{display: block;}
	.gallery .smallpics{float:left;}
	.gallery .smallpic{padding:6px 10px;width:62px;}
	.gallery .smallpics .active{background-image:url(http://i0.sinaimg.cn/ty/2011hqj/golf/images/sports_golf_zxh_0214_02.png);}

	.news-article .article-item{border-bottom:1px dashed #ccc;padding:10px 0;width:350px;text-align: center}
	
	.main .mod-article-list .article-item{padding:7px;font-size:13px;}
	.main .mod-article-list{padding:8px;height:536px;}
	.main .mod-article-list .article-item{margin:7px;font-size:13px;}
	.adwords-full{height:198px;margin-bottom:5px;width:100%;}
	.img-full-last{margin-bottom:0;}
	
	.headline{width:365px;height:100px;}
	.headline .mod-bd .news-item{width:180px;}
	.headline .mod-bd .news-item a{padding:8px 10px}