.mod-box-horizon .mod-bd{
	overflow:hidden;
}
.arc-head {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

.arc-title {
	font-size: 18px;
	font-weight: bold;
}

.arc-info {
	padding: 5px 0;
}

.arc-content {
	margin: 30px 0;
}
.arc-content img{
	margin:0 auto;
}

.arc-content p {
	margin-bottom: 15px;
	line-height: 22px;
}

.article,.comment-list,.hot-pic,.form {
	padding: 30px;
}

.form{}

.mod-article-list {
	margin: 10px 0 30px 0;
}

.image-item {
	width: 140px;
}

.grid_6 .img-full{
	height:300px;
}


.comment-list .article-item{
	padding:3px 5px;
	border-bottom:1px dashed #ccc;
}

.comment-list .article-item:after{
	content:"";
	clear:both;
	display:block;
}

.comment-list .article-item a{float:left;color:#930;text-align:right;width:60px;}
.comment-list .article-item span{}

.hot-pic .gallery img{
	width:150px;
	height:90px;
}

.form .btn{margin-left:250px;}
.form textarea{width:500px;}
.adwords-full{height:198px;margin-bottom:5px;width:100%;}
	