.mod-box-horizon .mod-bd{
	height: 230px; 
	overflow:hidden;
}
.arc-head {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

.arc-title {
	font-size: 18px;
	font-weight: bold;
}

.arc-info {
	padding: 5px 0;
}

.arc-content {
	margin: 30px 0;
}
.arc-content img{
	margin:0 auto;
}

.arc-content p {
	margin-bottom: 15px;
	line-height: 22px;
}
.mod-hd{
	text-align:center;
}
.mod-bd {
	padding: 30px;
}

.mod-article-list {
	margin: 10px 0 30px 0;
}

.image-item {
	width: 140px;
}

.grid_6 .img-full{
	height:300px;
}

.comment-list{
	margin-bottom:30px;
}

.comment-list .article-item{
	padding:3px 5px;
	border-bottom:1px dashed #ccc;
}

.comment-list .article-item:after{
	content:"";
	clear:both;
	display:block;
}

.comment-list .article-item a{float:left;color:#930;}
.comment-list .article-item span{}

.hot-pic .gallery img{
	width:150px;
	height:90px;
}

.row{margin-bottom:5px;}
.row{margin-bottom:5px;}
.row .input{border:1px solid #999;width:295px;}
.row label{float:left;}
.row .btn{margin-left:300px;}
.adwords-full{height:198px;margin-bottom:5px;width:100%;}
	